<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('add_pup') }}">Add Puppy</a>
            <a class="nav-item nav-link" href="{{ url_for('list_pup') }}">List of Puppies</a>
            <a class="nav-item nav-link" href="{{ url_for('delete_pup') }}">Delete Puppies</a>
            <a class="nav-item nav-link" href="{{ url_for('add_owner') }}">Add Owner</a>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
